.root {
    -fx-background-color: linear-gradient(to bottom, #091221, #ff007f);
    -fx-padding: 20px;
}
.main-vbox {
    -fx-padding: 20px 100px 20px 100px;
    -fx-background-color: transparent;
    -fx-alignment: center;
}
.comment-author {
    -fx-font-weight: bold;
    -fx-text-fill: #ff007f;
}
.forum-title {
    -fx-padding: 0px 20px 0px 20px;

    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.forum-subtite{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.question-card {
    -fx-background-color: #091221;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: #ff007f;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.2), 10, 0.5, 0, 0);
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

.question-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.question-content {
    -fx-font-size: 14px;
    -fx-text-fill: #e0e0e0;
}

.votes-label {
    -fx-font-size: 12px;
    -fx-text-fill: #b0b0b0;
}

.vote-button {
    -fx-background-color: transparent;
    -fx-text-fill: #ff007f;
    -fx-font-size: 18px;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-border-color: #ff007f;
    -fx-padding: 1px 1px 1px 1px;

    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.2), 10, 0.5, 0, 0);
}
.vote-box {
    -fx-padding: 5px 50px 5px 5px;
}
.vote-button:hover {
    -fx-background-color: rgba(255, 0, 127, 0.2);
    -fx-border-color: #ff007f;
    -fx-border-radius: 100%;

}

.action-button {
    -fx-background-color: #ff007f;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
}

.search-field {
    -fx-background-color: #ff007f;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-pref-width: 300px;
}

.create-post-button {
    -fx-background-color: #ff007f;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}
.scroll-pane {
    -fx-background-color: linear-gradient(to bottom, #000000, #ff007f);
}

.scroll-pane .viewport {
    -fx-background-color: linear-gradient(to bottom, #000000, #ff007f);
}

.vbox-container {
    -fx-background-color: transparent;
}

.forum-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Style for the search field */
.search-field {
    -fx-background-color: #091221;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-pref-width: 300px;
}

.create-post-button {
    -fx-background-color: #ff007f;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}
.forum-image {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
}
